<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">  
<title>诉舍</title>
<link rel="stylesheet" type="text/css" href="{$Think.config.indexUrl}/css/index.css" />
<script src="{$Think.config.indexUrl}/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="{$Think.config.indexUrl}/js/index.js" type="text/javascript"></script>
</head>
<body>
<div class="wrap">
	<div class="navigation">
		<div class="w1160">
			<h1 class="Logo fl"><img src="{$Think.config.indexUrl}/images/sushe_logo.png" /></h1>
			<div class="nav fr">
			  <p onclick="downbtn_ios(this)">下载APP</p>
			</div>
		</div>
	</div>
  <div class="banner">
  	<div class="banner_conts">
  		<p><img class="promotion_banner" src="{$Think.config.indexUrl}/images/promotion_banner.png" /></p>
  		<div class="down_btn">
  			<p title="立即下载" onclick="downbtn_ios(this)" class="cursor fl ios"><img class="promotion_icon" src="{$Think.config.indexUrl}/images/promotion_icon01.png" />立即下载</p>
  			<p title="暂未开发" class="fr andrews"><img class="promotion_icon" src="{$Think.config.indexUrl}/images/promotion_icon02.png" />暂未开发</p>
  		</div>
  		<p onclick="CloseBtn(this)" class="close cursor"><img src="{$Think.config.indexUrl}/images/close_icon.png" /></p>
  		<div class="downModal">
  			<p><img src="{$Think.config.indexUrl}/images/code1.jpg" width="258" height="258" /></p>
  			<p style="display:none;"><img src="{$Think.config.indexUrl}/images/code2.jpg" width="258" height="258" /></p>
  		</div>
  	</div>
  </div>
  
  <!--内容部分Start-->
  <div class="w1160 detailConts">
    <div class="left leftImg fl">
    	<img src="{$Think.config.indexUrl}/images/introduce_img1.jpg" />
    </div>
    <div class="right rightText fr Text">
      <p class="bigSize">这里有200+优秀律师</p>
      <p class="detail_img"><img src="{$Think.config.indexUrl}/images/introduce_icon01.png" /></p>
      <p>诉舍聚集众多优秀律师<br />以最低的价格让维权更容易</p>
    </div>
  </div>
  <!--内容部分End/-->
  <!--内容部分Start-->
  <div class="w1160 detailConts">
    <div class="left leftText Text fl">
    	<p class="bigSize">这里有行业最低的价格</p>
      <p class="detail_img"><img src="{$Think.config.indexUrl}/images/introduce_icon01.png" /></p>
      <p><span class="smallSize">14</span>年法律咨询领导品牌<br /><span class="smallSize">3164</span>万需求者寻求法律帮助的第一站</p>
    </div>
    <div class="right fr">
    	<img src="{$Think.config.indexUrl}/images/introduce_img2.jpg" />
    </div>
  </div>
  <!--内容部分End/-->
  
  <!--合作伙伴Start-->
  <div class="partner">
    <div class="w1160">
      <div class="partner_title">
      	<img src="{$Think.config.indexUrl}/images/introduce_icon01.png" />
      	<p class="introduce_icon">合作伙伴</p>
      </div>
      <ul>
      	<li><a href="http://www.zc-cn.net/" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_01.jpg" /></a></li>
      	<li><a href="http://www.bjaic.com/" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_02.jpg" /></a></li>
      	<li><a href="http://www.cofco.com/cn/" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_03.jpg" /></a></li>
      	<li><a href="http://www.chinawanda.com/" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_04.jpg" /></a></li>
      	<li><a href="https://www.zhaopin.com/" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_05.jpg" /></a></li>
      	<li><a href="http://www.bjnews.com.cn/" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_06.jpg" /></a></li>
      	<li><a href="http://www.sf-express.com/cn/sc/" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_07.jpg" /></a></li>
      	<li><a href="https://www.jd.com/" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_08.jpg" /></a></li>
      	<li><a href="http://www.huawei.com/cn/?ic_medium=direct&ic_source=surlent" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_09.jpg" /></a></li>
      	<li><a href="http://bank.pingan.com/index.shtml" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_010.jpg" /></a></li>
      	<li><a href="http://www.jinzhoubank.com/jzbank/index.html" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_011.jpg" /></a></li>
      	<li><a href="http://www.ifeng.com/" rel="nofollow" target="_blank"><img src="{$Think.config.indexUrl}/images/logo_012.jpg" /></a></li>
      </ul>
    </div>
  </div>
  <!--合作伙伴End/-->
  
  <div class="footer">
  	<div class="w1160">
  	  <p><a>关于我们</a><em>|</em><a>加入我们</a><em>|</em><a>联系我们</a><em>|</em><a>合作伙伴</a><em>|</em><a>商务合作</a></p>
  	  <p class="last">© 2017 企答答 | 技术支持: 企答答网络科技（北京）有限公司 | 网络经营许可证 京ICP备 16038994号-4</p>
  	</div>
  </div>
  
 
  
  
</div>	
</body>
</html>
